* {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 11vh;
  z-index: 10;
  background-color: #464646;
}

main {
  position: absolute;
  top: 11vh;
  left: 0;
  right: 0;
}

#left_nav {
  position: fixed;
  height: 89vh;
  width: 15vw;
  left: 0;
  background-color: #adadad;
}

#right_nav {
  position: fixed;
  height: 89vh;
  width: 15vw;
  right: 0;
  background-color: #adadad;
}

#calendar_view {
  display: flex;
  position: absolute;
  flex-direction: row;
  left: 15vw;
  right: 0;
  max-width: 100%;
  margin: 0;
  background-color: black;
}

#tabs_component {
  position: fixed;
  left: 15vw;
  right: 0;
  height: 3rem;
  background-color: #3b3b3b;
}

#calendar_component {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 3rem 0 0 0;
}

.year {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.semester {
  flex: 1;
  background-color: #707070;
}

.semester:nth-child(2) {
  background-color: #5e5e5e;
}

.semester:nth-child(3) {
  background-color: #292929;
}

/* Above code is for the calendar.html file ――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

#calendar {
    max-width: 900px;
    margin: 0 auto;
  }